modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 12698553
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle exec jekyll serve --host 0.0.0.0 --port 3000"
