<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">
                <img id="nav-image" src="{{ '/assets/images/HeadshotPortrait.jpg' | relative_url }}" alt="Mihir Madhaparia">
            </a>
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/work-experience">Work Experience</a></li>
                    <li><a href="{{ site.baseurl }}/_education/index.md">Education</a></li>
                    <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="homepage-container">
        <div class="homepage-img-container">
            <img src="{{ site.baseurl }}/assets/images/HeadshotPortrait.jpg" alt="Mihir Madhaparia" class="homepage-img">
        </div>
        <div class="homepage-text">
            <h1>Mihir Madhaparia</h1>
            <p>
                I am a dedicated and innovative engineer with a passion for <strong>medical technology, bioprinting, and applied research</strong>. With a strong background in <strong>mechanical engineering, materials science, and biomedical device development</strong>, I strive to bridge the gap between technology and healthcare to improve patient outcomes. 
                Born and raised in <strong>Kenya</strong>, I am a first-generation college student currently pursuing my academic and professional journey in the United States. My experiences have shaped my commitment to innovation and problem-solving, particularly in the <strong>medical device industry</strong>.
            </p>
        </div>
    </div>


    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </footer>

    <script>
        // Hide navbar image on homepage
        document.addEventListener("DOMContentLoaded", function() {
            if (window.location.pathname === "/") {
                document.getElementById("nav-image").style.display = "none";
            }
        });
    </script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.body.classList.add("loaded");
        });
    </script>

</body>
</html>
